body {
  background-color:  #fff2e6;
  padding: 20px;
  font-family: Helvetica;
}


.topnav {
  background-color:  #e60000;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #e0ebeb;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:   #ff9999;
  color: white;
}

.print{
 margin: 20px;
  border: 1px solid red;
  border-radius: 100px;
  padding: 5px;
  width: 150px;
}

#banner-message {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
  width: 500px;
}

#breed_data {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  font-size: 12px;
  text-align: left;
  transition: all 0.2s;
  margin: 0 auto;
  width: 500px;
}

#breed_image {
  background: #fff;
  margin: 0 auto;
  width: 460px;
}
